[2017-05-17 19:37] thisisdano opened #4 "We don't get notifications when the jekyll build finishes"
When a build finishes, we should get a notification that says it's done and that the page has reloaded. Maybe it could also play a sound.

[2017-05-18 01:10] jeremyzilar commented on #4
Noe we do

[2017-05-18 14:13] #4 closed, assigned to thisisdano

[2017-05-18 14:16] thisisdano opened #8 "Header image still looks broken"
Seeing this kind of thing on the About page:

<img width="1052" alt="screen shot 2017-05-18 at 10 15 59 am" src="https://cloud.githubusercontent.com/assets/11464021/26206460/e69ced12-3bb2-11e7-867d-abce0a86d295.png">

So why is this image broken, but the image on the home page isn't? Path issues?

[2017-05-18 14:22] thisisdano commented on #8
@jeremyzilar are you still seeing this? Did we somehow clobber the earlier work you did to fix this?

[2017-05-18 22:07] jeremyzilar opened #10 "Watch actions"
When saving a SCSS file in the repo, the **watch** task does not run.
Could this happen in addition to the `.md` files?

[2017-05-19 16:20] thisisdano commented on #8
OK, looks like this should be `{{ site.baseurl }}` for all internal links per https://github.com/18F/federalist-docs/blob/ba87e036a220918a6469b6546b11a3116900febf/pages/custom-templates.md

[2017-05-19 16:50] thisisdano commented on #8
@jeremyzilar I think this is all good to go now. Preview on https://federalist.fr.cloud.gov/preview/gsa/digital.gov/dw-header-img/

[2017-05-19 17:05] thisisdano opened #14 "Replace digitalgov.gov links with site.baseurl links"
Use variables for internal to properly test locally and for more reliability.

[2017-05-19 20:33] jeremyzilar opened #16 "Add a Federalist Preview link to Migration Box"
Will need to fig out how to return the existing branch name in the path, I think.
See also — https://github.com/18F/federalist/issues/546

[2017-05-19 20:47] jeremyzilar opened #17 "Migrate existing post-content from WordPress"
The goal is to see what items we need to change in the posts

[2017-05-19 20:47] thisisdano opened #18 "Research images and jekyll"
What's a good way to add images to the system and, in particular, responsive images?

[2017-05-19 20:53] thisisdano opened #19 "Look into the way variables are loading in the sass"
Having some issues with variables not overriding as expected in the sass.

[2017-05-19 20:58] jeremyzilar opened #20 "digital.gov DNS changes"
We are thinking about pointing the `digital.gov` DNS at our Federalist Build ([master branch](http://cg-06ab120d-836f-49a2-bc22-9dfb1585c3c6.s3-website-us-gov-west-1.amazonaws.com/site/gsa/digital.gov/)) and have it redirect via Jekylls redirection methods to digitalgov.gov.

We would also create a subdomain `demo.digital.gov` and point it at our `demo` branch. This is now a current feature in Fed

[2017-05-19 21:12] jeremyzilar opened #21 "Explore common deploy scripts"

[2017-05-19 22:35] thisisdano commented on #10
Closed. Addressed with GSA/digital.gov#22

[2017-05-19 22:35] #10 closed, assigned to thisisdano

[2017-05-19 22:35] #8 closed, assigned to nobody

[2017-05-19 22:35] #14 closed, assigned to thisisdano

[2017-05-19 22:36] thisisdano opened #23 "Import USWDS from NPM so it can be updated"

[2017-05-22 19:32] thisisdano commented on #18
@jeremyzilar I think I'm going to try and start with the `jekyll-picture-tag` jekyll plugin then go from there — perhaps we can abstract it to work in any static environment as we go

https://github.com/robwierzbowski/jekyll-picture-tag

[2017-05-23 03:06] jeremyzilar opened #24 "Figure out a format for authors in front matter"
What is the format we should be using for Authors in front matter? Will author names link to author pages? Is there an author slug and an Author full name? What do we need to export from WP?

[2017-05-23 03:32] jeremyzilar commented on #17
WP Image format that needs to be filtered for. There are **838** of these
[code]
Possibly transformed to the picture-key format:
[code]

[2017-05-23 03:40] jeremyzilar commented on #17
There are **458** of these images linking to themselves as well...

[code]

[2017-05-23 03:42] jeremyzilar commented on #17
Current Bulk import branch here: https://github.com/GSA/digital.gov/tree/bulk-import-posts

[2017-05-23 15:53] jeremyzilar commented on #17
@thisisdano Is this what we want for images?
[code]
The paths for the images will be at the AWS CDN but for the formatting of the liquid tag, can this be something to aim for in the next test?

[2017-05-24 15:33] jeremyzilar opened #28 "Ability to download current page/guide as a PDF"
We consistently hear in User Interviews and in the communities that people need to download our pages as PDFs or print them. As backwards as it may sound to some, it would be nice to provide people with a button to **download as PDF** and make this the best looking PDF in the government.

There is a bit of JS that makes this possible: http://jsfiddle.net/5ud8jkvf/

[2017-05-24 15:38] AndreaSigz opened #29 "User would like to sort list on agency CMS page"
User would like to see a spreadsheet view though (so I can sort, filter, count, whatever) on this page: https://www.digitalgov.gov/resources/content-management-systems-used-by-government-agencies/

[2017-05-24 16:10] jeremyzilar opened #30 "Create templates for Promos and Cards"
**Promos** are the way a story is promoted around the site.

This is the data that a promo should/could contain.
- URL _(required)_
- Title _(required)_
- Primary Category/Kicker
- Primary Category/Kicker URL
- Summary
- Featured Image
- Byline
- Date or last updated
- Related links array
--  Headline + URL
--  Headline + URL

**Cards** are the template for displaying a Promo
- Image card
- Quote

[2017-05-24 16:43] AndreaSigz commented on #29
Further comment: Google Spreadsheets are nice; and, you can build a graceful way to incorporate spreadsheets via their API so that it’s presented in your .gov page.

[2017-05-24 18:03] thisisdano commented on #19
@jeremyzilar do you have examples of variables that aren't working the way you expect?

[2017-05-24 19:50] thisisdano commented on #30
@jeremyzilar sanity check here

Lemme just make sure I get it.

in (let's just say) `/_data/promos` we have `big-event.yml` and it looks something like

[code]

Then in the page html, we have something like:

[code]

Which then accesses that data in the `card/news.html` template via something like

[code]

Does that scan to you? Or were you thinking of a different method?

[2017-05-24 19:59] thisisdano commented on #30
Maybe there's something more for me to understand in this article: https://www.smashingmagazine.com/2016/02/content-modeling-with-jekyll/

Still trying to wrap my head around building with jekyll data...

[2017-05-24 20:55] thisisdano commented on #30
Hm, `promos` could be a collection....

File would be `/_promos/big-event.md` with a slug `field`

[code]

call with

[code]

then in the template:

[code]
---

or. if it seems simpler

[code]

then in the template:

[code]

[2017-05-24 20:57] thisisdano commented on #30
I'm gonna go with option A in the examples above.

[2017-05-25 02:16] jeremyzilar commented on #29
@dano would be nice to incorporate http://archieml.org/
More on it here: https://github.com/newsdev/archieml.org/issues/1

[2017-05-25 02:22] jeremyzilar commented on #29
Or at the very least, some JS for sorting tables: http://tablesorter.com/docs/

[2017-05-25 20:21] AndreaSigz opened #31 "Color contrast issue"
We just received an email about the color contrast of DG.gov: I like your site. I use it for reference articles for Accessibility. However, WCAG 2.0 requires that link colors to background colors be at a 4.5:1 ratio.

WebAim Reference: http://webaim.org/blog/wcag-2-0-and-link-colors/
W3 Reference: http://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast

The link colors in this article are belo

[2017-05-26 17:29] thisisdano commented on #30
@jeremyzilar can you add your card sketches to this conversation?

[2017-05-30 03:18] jeremyzilar opened #32 "Review Migrated Posts"
Ok — I have migrated all of the posts out of WP (for now), but we are going to need to list the series of steps that need to be taken to clean up the posts after pulling them out of WP.

There are around 10 posts here: https://github.com/GSA/digital.gov/tree/migration-posts
They are as-is from the WP migraiton script.

[2017-05-30 03:19] jeremyzilar commented on #32
Note: in `/2017/05/15/webinar-recap-measuring-your-mobile-users/` there is an image alt tag that has double quotes within quotes. I can fix that on my end for all instances of that if you need.

[code]

[2017-05-30 03:21] jeremyzilar commented on #32
I can also delete all instances of
[code]

This is DONE

[2017-05-30 03:21] jeremyzilar commented on #32
Do we want to transform the H2s into something smaller, like h4?
`## Why Mobile Analytics?`

[2017-05-30 15:17] thisisdano commented on #31
I'm going to pop this up to the top of this week's items.

[2017-05-30 15:17] jeremyzilar commented on #32
Needing to encode the characters in titles and summaries — https://stackoverflow.com/questions/10963002/jekyll-new-posts-not-being-generated

[2017-05-30 15:22] thisisdano opened #33 "Do component audit on common page types"
For each page type on digitalgov, list the necessary components needed to build the page.

[2017-05-30 15:24] thisisdano opened #34 "Collect page types for prioritization"
Create of list of the page types necessary to build out the replatformed site. Then, create epics for those page types and prioritize them for completion.

[2017-05-30 15:30] thisisdano commented on #23
Closed with https://github.com/GSA/digital.gov/pull/27

[2017-05-30 15:30] #23 closed, assigned to thisisdano

[2017-05-30 15:56] thisisdano opened #35 "Prioritize design needs for relaunch"
Know what pages and components we need to build to have digitalgov ready to work as expected on Federalist. Know what is necessary for relaunch and what's nice-to-have.

### Acceptance criteria

- [x] Complete #33
- [x] Complete #34
- [x] Add new milestones to reflect the findings

[2017-05-30 15:58] thisisdano commented on #35
- [] Complete #33
- [] Complete #34
- [] Add new milestones to reflect the findings

[2017-05-30 16:02] jeremyzilar commented on #32
Jekyll appears to be stalling on colons in the title of posts.
[code]
Currently looking for the best way to escape or encode them

[2017-05-30 16:03] jeremyzilar commented on #32
Updated the branch with ALL the posts in `_posts_new` and 10 or so posts in `_posts`

[2017-05-30 16:10] jeremyzilar commented on #24
I was able to export WP Co-Authors plus bylines from WordPress and format them in the front matter like,
[code]
I can change this if needed.
I will also be able to export the author data as well

[2017-05-30 16:32] jeremyzilar opened #36 "Export Author data to Hugo"

[2017-05-30 16:33] thisisdano commented on #24
Wondering if this should be a YAML list rather than comma separated, but will look into it.

[2017-05-30 16:39] jeremyzilar opened #37 "Explore date formatting in Jekyll"
How should we format our dates in the front matter?

Here are some examples to consider:
`2013-11-29 00:00:00 -0500`
http://alanwsmith.com/jekyll-liquid-date-formatting-examples

[2017-05-30 17:01] jeremyzilar opened #38 "Explore where we'll host archive images"
Do we need to move the images to Federalist, or can they stay hosted on SITES, or the S3 bucket?

[2017-05-30 17:05] thisisdano commented on #34
In progress here: https://docs.google.com/spreadsheets/d/1z0kRtISGOlCkeoOSu2Bv4g6nqyO81eEprcjPLbztzHI/edit#gid=0

[2017-05-30 17:05] thisisdano commented on #33
Don't forget header and footer :)

[2017-05-30 17:08] thisisdano commented on #18
I'm going to look at the exported posts and give @jeremyzilar a final component for his exporting

[2017-05-30 18:11] thisisdano commented on #18
@thisisdano Are there jekyll plugins available for getting image dimensions?

[2017-05-30 19:42] jeremyzilar opened #39 "Explore Transforming existing shortcodes in posts to new embed format"
Here are some of the current shortcodes that WP supports: https://en.support.wordpress.com/category/shortcodes/

[2017-05-30 22:13] jeremyzilar commented on #30
![promo-mock](https://cloud.githubusercontent.com/assets/395641/26607276/bb127044-4563-11e7-8dce-2b546a061489.png)

[2017-05-30 22:15] jeremyzilar commented on #39
Here is a place where we can document the existing shortcodes in our site: https://github.com/GSA/digital.gov/wiki/WordPress-Shortcodes

[2017-05-30 22:18] thisisdano commented on #33
See results here: https://docs.google.com/a/gsa.gov/spreadsheets/d/1z0kRtISGOlCkeoOSu2Bv4g6nqyO81eEprcjPLbztzHI/edit?usp=sharing

[2017-05-30 22:37] thisisdano commented on #33
Identified approximately 40 components over approximately 25 page types:

**Page types**
home
events home
digitalgov university
recaps
video library
event
communities home
community page
manage your listserv
services home
service overview
resources home
resource
about home
join home
open opportunities
category page
subcategory page
tag page
post
subscribe
contact us
site policies

**Components**
_

[2017-05-30 22:44] thisisdano commented on #33
The takeaway here is to get cracking on the header and footer.

upcoming events
social bar
search bar
top nav
categories nav
subcategories nav
recent posts footer
twitter activity

Then move into buttons, featured posts, basic cards, and event stuff.

Post is the most complicated page, with over 20 components — but I don't know how much of the comments stuff (a good percentage of this number) we w

[2017-05-30 23:01] thisisdano commented on #33
We will probably punt on comments for the near term.
@jeremyzilar Any thoughts on comments?

[2017-05-30 23:29] thisisdano commented on #33
Doing just the components in the header, footer, and sidebar (and a bit of text formatting) would pretty much finish the following pages:

digitalgov university
communities home
services home
service overview
resources home
resource
about home
join home
open opportunities
contact us
site policies

[2017-05-30 23:31] thisisdano commented on #34
Here are the pages I've identified as code digitalgov pages:

**home**
**events home**
digitalgov university
recaps
video library
**event**
communities home
community page
manage your listserv
services home
service overview
resources home
resource
about home
join home
open opportunities
category page
subcategory page
tag page
**post**
subscribe
contact us
site policies

Most of these pages are pre

[2017-05-30 23:40] thisisdano commented on #35
OK, so after completing the two analyses above, I'd like to start with the three most shared content regions:

**header**
**footer**
**sidebar**

Just finishing these will mostly complete the following page types:

digitalgov university
communities home
services home
service overview
resources home
resource
about home
join home
open opportunities
contact us
site policies
manage your listserv

---

[2017-05-30 23:43] thisisdano opened #40 "Hugo / Complete new header template"
### Description
Create a common header (top nav, etc) in Hugo that matches the appearance and functionality of the existing site.

### Acceptance criteria
- [x] Appears identical to current site
- [x] Displays identical navigation options to current site
- [ ] Allows navigation to all listed pages
  - [x] About page
  - [x] Join
  - [x] Open Opportunities
  - [x] services/Challenges & Prizes
  - [

[2017-05-30 23:43] thisisdano opened #41 "Hugo / Complete new footer template"
### Description
Create a common header (top nav, etc) in Hugo that matches the appearance and functionality of the existing site.

### Acceptance criteria
- [x] Appears identical to current site
- [x] Displays identical functionality to current site
  - [x] Shows site information and informational links
  - [x] Shows last three posts
  - [x] Shows next three events
- [ ] Allows navigation to all l

[2017-05-30 23:44] thisisdano opened #42 "Hugo / Complete sidebar components"
### Description
Create the sidebar components in Hugo that matches the appearance and functionality of the existing site.

### Acceptance criteria
- [x] Appears identical to current site
- [x] Displays identical functionality to current site
- [x] Works correctly at all responsive widths
- [x] Uses live data through Hugo
  - [x]  New top posts component
  - [ ] Community component for:
    - [ ] P

[2017-05-31 15:56] thisisdano opened #43 "All pages complete for relaunch"
This epic prepares us for relaunch by completing all the necessary pages — and all the necessary site functionality — required to give our readers a digital.gov experience that matches the expectations set by the existing site.

This epic tracks all the pages, components, and QA checks we'll need to complete before going live.

### Layouts

- [ ] docs
- [x] post
- [ ] event
- [x] collection

### P

[2017-05-31 16:08] thisisdano commented on #43
@jeremyzilar Use this issue for tracking design/build/qa issue related to pages and site functionality here. Add pages, components, or qa items if you notice anything missing!

[2017-05-31 16:10] thisisdano commented on #35
Milestones prioritized and collected in #43

[2017-05-31 16:28] thisisdano commented on #20
I created the `demo` and `united` branches off of master, protected the `master` branch, and moved our default branch to `demo`.

[2017-05-31 17:57] jeremyzilar commented on #20
Wooooo! Looking at this now...

[2017-05-31 18:42] thisisdano commented on #32
@jeremyzilar

-  titles and summaries can be coded as explicit strings by enclosing the string in quotes
-  `summary` field is not as useful as it could be — it's a long, truncated phrase that should be more custom. at the very least, non-truncated.
- `alt` property in images can't contain double quotes
-  try to avoid special characters in titles and permalinks (like `%e2%80%8bwant-to-expand-your

[2017-05-31 18:45] thisisdano commented on #32
I also collected the posts under `/news/:year/:month/:day/` to give them some context in the url. Maybe `news` isn't the best slug, but I wanted to make a distinction from the other content types.

[2017-06-01 02:02] jeremyzilar commented on #19
I believe I brought this up around an issue I was having in the `dg/defaults.scss` file.

The question came up — how do we best override the defaults styles in the USWDS, especially when they rely on mixins that are used in the USWDS?

You will see that many of the type styles are defined as being `defaults` in the WDS, so in `main.scss` I needed to include the `dg/defaults.scss` file before the W

[2017-06-01 05:14] thisisdano commented on #19
I'll need to check this, but my understanding with `!default` is that it should be (and is) used only on the variables in the WDS — and what it means is "set this variable _only if_ the variable has not been set previously."

So we would include our variable overrides before the WDS include. And _we_ would not want to set our overrides to `!default`, that's only for the WDS variables. I can check

[2017-06-01 11:55] jeremyzilar commented on #19
As long as you know how to override the styles, this is not an issue anymore. 💯

[2017-06-01 13:30] jeremyzilar commented on #43
It will be interesting to see how many of these pages can simply be covered by `layout: docs` or `layout: post`

Is there anyway to indicate which will be covered by what? Should this move to the Wiki?

[2017-06-01 14:44] jeremyzilar commented on #32
`summary` — most of the posts don't have the excerpt field filled out in WP. So WP grabs the first 55 words of the post. This is a lame WP feature. We can make that # smaller, or larger. I am filtering out any images.

Regardless,  I think we should capture it in the front-matter of posts so that if we intend to surface posts from the archive alongside posts that are more recent, and the card temp

[2017-06-01 14:46] jeremyzilar commented on #32
`alt` — are you OK with me encoding quotes in the `alt`? I believe that is what I am doing. We can also strip them.

[2017-06-01 14:55] thisisdano commented on #32
I think it's OK to encode quotes in the `alt`.

One thing that caused build problems was the formatting of email address: `<email@address.com>`. This will need to be a standard `mailto` link for now, but a simple custom tag if we ever want to go that route.

I also had a bunch of problems with garbled stuff getting into the image include.

[2017-06-01 18:19] jeremyzilar commented on #32
Re: `img` liquid tags — https://github.com/GSA/digital.gov/wiki/Components
For all posts that we are migrating over, could we (should we) use a separate image template, like `image/archive` as opposed to using `image/full-width` which we will want to use going forward.

Thinking that the images that we pull over from WP will likely not be altered much or processed differently than images going for

[2017-06-01 18:31] thisisdano commented on #32
Yeah, I was thinking I would make a new `image` include for the legacy stuff.

[2017-06-02 19:00] thisisdano commented on #18
OK, looks like I'm going to punt on responsive image for the moment. However, I've built a default image component for our legacy images.

The `image.html` include has the following params:
- `img`: the path to the image. ex: `img: "path/to/image.jpg"`This can be either a local path from the assets folder like `/img/path/image.jpg` or a external link like `http://url.com/path/to/image.jpg`. The co

[2017-06-02 20:08] thisisdano commented on #18
Updated in the wiki: https://github.com/GSA/digital.gov/wiki/Components

[2017-06-02 21:34] jeremyzilar opened #46 "Explore a solution for hosting images"
We currently have around `40,500` images in DigitalGov and they will need to live somewhere.

**Update** — `digitalgov.gov` currently has an `s3` bucket through sites. We need to explore being able to use that bucket. ( @JJediny )

**Cloud.gov S3 + CDN** https://cloud.gov/docs/services/
~~**GIT Large File Storage** https://git-lfs.github.com/~~

How will we get our images to this CDN or S3? Probab

[2017-06-02 22:03] jeremyzilar commented on #46
Ok, looks like the point of Git LFS is to make it so that the repo doesn’t contain the multiple revisions of a large file in the repo. So if we have 40k images that we needed for our site, those would be in the repo, and would need to be checked out each time there is a build. In short, *Git LFS is not a CDN*. https://about.gitlab.com/2017/01/30/getting-started-with-git-lfs-tutorial/

[2017-06-02 22:19] thisisdano commented on #46
How do images work right now between GH and FED? Are they copied over into the a FED AWS bucket each time we spin up a new instance? I guess I never really thought about this!

[2017-06-02 22:23] jeremyzilar commented on #46
Everything currently gets unpacked from the repo and stuffed into an S3 bucket. So I understand that to mean that ALL the images would need to be in the repo and have to be unpacked

[2017-06-02 22:24] thisisdano commented on #46
That's a lot of files moving back and forth for each build!

[2017-06-06 16:04] thisisdano opened #47 "Jekyll / Build header"
Build the header in the new Jekyll site to match functionality from the Wordpress site.

Build the following from elements from the master list:

- [x] social bar _— `all pages`_
- [x] search bar _— `all pages`_
- [x] top nav _— `all pages`_
- [ ] categories nav _— `posts`_

[2017-06-06 16:07] thisisdano commented on #47
Build the following from elements from the master list:

- [ ] social bar _— `all pages`_
- [ ] search bar _— `all pages`_
- [ ] top nav _— `all pages`_
- [ ] categories nav _— `posts`_

[2017-06-06 16:26] jeremyzilar opened #48 "Set up a sub-domain for our CDN to host media/images in cloud.gov"
Potentially `media.cloud.gov`

[2017-06-06 18:11] thisisdano commented on #47
Preview branch: https://federalist-proxy.app.cloud.gov/preview/gsa/digital.gov/dw-header/

[2017-06-07 19:14] thisisdano commented on #47
Categories nav seems like more of a lift to build the dropdown, as a dropdown of that type isn't in the USWDS. I've proposed a `popular topics` bar under the search to take tare of high-profile categories. Then, I'd propose reworking the Resources page to link out to categories as well.

[2017-06-09 02:22] jeremyzilar opened #49 "Hugo/ Set the Hubspot Tracking code"
We need to insert the content types into:
`_hsq.push(["setContentType", "standard-page"]);`

This is from the PHP implementation of the code:
[code]

[2017-06-09 14:45] jeremyzilar commented on #49
I am guessing that we just need to pass the same content type names on to HS

[2017-06-13 15:44] thisisdano opened #50 "Hugo / Complete docs template"
### Description
Create a template for docs in Hugo that matches the appearance and functionality of the existing site.

### Acceptance criteria
- [ ] Appears identical to current site
- [x] Displays identical functionality to current site
- [ ] Works correctly at all responsive widths
- [x] Uses live data through Hugo

[2017-06-13 15:45] thisisdano opened #51 "Hugo / Complete post template"
### Description
Create a a post template in Hugo that matches the appearance and functionality of the existing site.

### Acceptance criteria
- [x] Appears identical to current site
- [ ] Displays identical functionality to current site
  - [ ] Images
  - [ ] Embedded content
- [x] Works correctly at all responsive widths
- [x] Uses live data through Hugo

[2017-06-13 15:49] thisisdano opened #52 "Hugo / Build event template"
### Description
Create a template for an event in Hugo that matches the appearance and functionality of the existing site. This will also require building a way to create new events and access the data for that event — probably a custom content type.

### Acceptance criteria
- [x] Appears identical to current site
- [ ] Displays all duplicable functionality from current site
  - [x] Sorts properly

[2017-06-13 17:46] thisisdano opened #53 "Hugo / Downstream dependencies"
### Acceptance criteria
Verify that the following are working and that there is a plan in place for a domain change.

- [ ] RSS feed working
- [ ] Search working
- [ ] DAP / Google Analytics Code working
- [ ] Hubspot Tracking Code working https://github.com/GSA/digital.gov/issues/49
- [ ] OG Meta tags / Twitter & Facebook working
- [ ] Meta description + Meta keywords working on post pages
- [ ]

[2017-06-14 19:02] thisisdano commented on #40
@jeremyzilar Some Hugo limitations lead me to wonder how strictly we need to be able to mimic site structure on the new dg. There are a number of things that are hard to mimic, and I wonder if we'd be able to just 301 these pages or if it's worth more energy trying to get it exactly right?

So, as far as I can understand it, there are a few limitations to the way that Hugo handles taxonomies (that

[2017-06-14 19:58] thisisdano commented on #40
**Re: custom slugs above.**

Seems like the best solution could be to always enter the slug as the taxonomy entry in the front matter. Like `foo-and-qaz` instead of `Foo & Qaz`. Then, it's _somewhat_ straightforward to apply a readable title to the entry using the `_index.md` solution.

This seems like a reasonable best practice for all categories/tags/etc, to enter the "slugified" name in the fro

[2017-06-14 20:41] jeremyzilar commented on #40
I think we can and should greatly simplify the taxonomies, so this is a win in a lot of ways.
I am not even sure that we need to log and redirect the sub-category pages.
Their traffic is so low or non-existant that it will not matter much. If they do end up being linked to, we will notice it in the logs in Google WebMaster Tools after the switch over and can make adjustments there.

[2017-06-15 15:23] thisisdano commented on #40
OK!
- I moved over tags to `tag`
- I kept categories as a single layer

Re: taxonomy items and slugs
- I'm realizing that entering the items as slugs will probably be a problem because it'll then require creating metadata for each slug that tells Hugo how to output the title of the slug.
- I'm gonna spend _a little_ time today thinking through this issue to come up with a more reliable taxonomy pl

[2017-06-21 17:32] thisisdano commented on #17
@jz I'm going to keep a list of migration issues here.

- Compile time is much slower post migration, I wonder why? (actually, maybe this is just on first compile, otherwise comparable...)
- Tags should (when possible) match the slugs in data/tag.yml (all these outputs can be controlled on the back end, this is just for getting the right urls)
  - [ ] replace ampersands with `and`
  - [ ] replace

[2017-06-26 18:05] thisisdano commented on #36
I'd like to look at this this week

[2017-06-26 18:09] thisisdano commented on #37
`2018-08-12 16:30:00 -0400`
I think this is the date format we can and should use here.

[2017-06-26 18:20] thisisdano opened #54 "Hugo/Baseurls on Federalist"
We're not yet using `.Site.BaseURL` consistently in the templates. Make sure that any internal link has this variable prepended.

[2017-06-26 19:04] thisisdano opened #55 "Hugo/Media shortcodes"
Research and determine the media shortcodes we'll use for embedded media in the Hugo site

[2017-06-26 19:08] thisisdano commented on #55
@jeremyzilar
Well boy howdy, we got some built in!
https://gohugo.io/extras/shortcodes/

Twitter: `{{< tweet 666616452582129664 >}}` where `666616452582129664` is the tweet ID
Youtube: `{{< youtube w7Ft2ymGmfc >}}` where `w7Ft2ymGmfc` is the `v=` ID
Instagram: `{{< instagram BMokmydjG-M >}}` where `BMokmydjG-M` is the shortcode
Vimeo: `{{< vimeo 146022717 >}}` where `146022717` is the ID

There's

[2017-07-12 17:07] jeremyzilar opened #58 "Explore use of <abbr> tag for abbreviations in text"

[2017-07-17 16:04] ToniBonittoGSA opened #60 "Twitter has changed embed code"
twitter changed embed; no longer shows media

Old example: https://www.digitalgov.gov/2015/07/16/dwarf-planet-giant-numbers-nasas-mission-to-pluto-goes-global/ (trying to find others; will add if I do)

New: https://www.digitalgov.gov/2017/06/30/webinar-recap-plain-language-action-and-information-network-plain-june-meeting/

[2017-07-17 16:08] ToniBonittoGSA opened #61 "WP Contact form(s) to be converted"
Live: DGU intake form
https://www.digitalgov.gov/digitalgov-university/digitalgov-university-event-and-training-request-form/

* DG contact form in WP but removed from live site when Sites enacted content freeze in November

[2017-07-17 16:12] ToniBonittoGSA opened #62 "Design Elements from Solostream's "Enlightened" WP theme"
Theme: http://www.solostream.com/demo/wp-enlightened/
Examples with code: https://demo.solostream.com/wp-enlightened/buttons-columns-and-other-useful-design-elements/

**quotes** - example: https://www.digitalgov.gov/2016/11/18/a-new-prize-challenge-for-virtual-and-augmented-reality-learning-tools/

Will add more...

[2017-07-17 16:14] ToniBonittoGSA opened #63 "Events - needs multiple dates, times"
Example: https://www.digitalgov.gov/event/online-intro-to-python/
non-consecutive days, repeats 3 weeks in a row

[2017-07-17 20:17] jeremyzilar opened #64 "Look into Apple News configuration and traffic"

[2017-07-17 20:21] jeremyzilar opened #65 "Performance Tracking: Set up something to monitor the site"

[2017-07-17 20:28] jeremyzilar opened #66 "Draft up "How to post" documentation"

[2017-07-17 20:35] jeremyzilar opened #67 "As an editor, I would like an 'edit this' button on the site to easily access the markdown file in GitHub to make edits"

[2017-07-17 20:45] jeremyzilar opened #68 "Create a basic landing page at digital.gov, have it redirect to digitalgov.gov"

[2017-07-18 18:19] ToniBonittoGSA opened #70 "Author pages with social icons"
Here's one: https://www.digitalgov.gov/author/apiazza/

WP asks for:

1. Website — https://www.digitalgov.gov/digitalgov-university/ (appears above photo)

2. fields for social icons —

platform — entry:

AIM — _empty_

Yahoo IM — _empty_

Jabber / Google Talk — _empty_

Twitter	— **alyciap1**

Facebook — **digitalgov**

http://www.instagram.com/ — _empty_ (b/c there's a squatter on instagram.com/

[2017-07-18 18:39] ToniBonittoGSA opened #71 "9 URLs have redirects"
you can see all URLs and stats in: Tools > Redirection
https://www.digitalgov.gov/wp-admin/tools.php?page=redirection.php

All 9 have been visited recently in the month of July; may be bookmarked and/or referenced in other sites across the web.

/communities/digital-audio-video-community-of-practice/
redirects to --> https://www.digitalgov.gov/communities/video-production-pros-community-of-practic

[2017-07-18 21:15] thisisdano commented on #70
Addressed with https://github.com/GSA/digital.gov/pull/73
Added all the fields used in the post shown above, but didn't add any of the empty fields

[2017-07-25 18:46] thisisdano opened #79 "Image pipeline"
The jamstack version of digital.gov is a site built in Hugo and hosted on Federalist. Digital.gov currently has over 1500 posts, about 170 other docs pages, plus events. Many of these pages have unique images, and the site is only going to get bigger. We currently have over 1GB worth of image assets hosted through AWS/Sites, including all the image files and their associated responsive variants. W

[2017-07-25 19:23] thisisdano commented on #79
Something like this for writing the manifest?
https://www.npmjs.com/package/write-data

Now, how to pass if the proper data...

[2017-07-26 14:53] ToniBonittoGSA opened #81 "The Data Briefing: Ten Years of Digital Transformation—Lessons Learned"
---
date: 2017-07-26 12:00:00 -0400
title: The Data Briefing: Ten Years of Digital Transformation—Lessons Learned
summary: Since 2007, a major consulting firm has conducted an annual survey on organizations’ “Digital IQ.” In the ten years of organizations grappling with digital transformation, what has been learned?
authors:
  - bbrantley
categories:
  - Data
  - Managing Digital
  - UX
tag:
  - T

[2017-07-26 17:57] ToniBonittoGSA opened #82 "tag slug error to fix"
the tag: customer-experience-2

should be renamed just: customer-experience

the original tag, without the _-2_, was mistakenly deleted...
WP wouldn't let us remove the duplicate _-2_ tag, or add the original back

[2017-07-26 18:26] ToniBonittoGSA commented on #81
added more tags, URLs of images
live: https://www.digitalgov.gov/2017/07/26/the-data-briefing-ten-years-of-digital-transformation-lessons-learned/

[2017-07-26 23:16] jeremyzilar opened #83 "Draft: Example Post"
As Queequeg and I are now fairly embarked in this business of whaling; and as this business of whaling has somehow come to be regarded among landsmen as a rather unpoetical and disreputable pursuit; therefore, I am all anxiety to convince ye, ye landsmen, of the injustice hereby done to us hunters of whales.

In the first place, it may be deemed almost superfluous to establish the fact, that among

[2017-07-27 17:28] thisisdano commented on #83
It's hard to comment on the body of an issue. It's much simpler and more granular in a file. Check out this PR — it includes a draft in the content/drafts folder that a reviewer can see/comment/edit as part of a PR review. Does that seem like a better way to write and review docs? 🤷‍♀️ ?

https://github.com/GSA/digital.gov/pull/86

[2017-07-27 19:51] jeremyzilar opened #87 "Explore options for pulling in YouTube videos and playlists to a page"

[2017-07-31 21:43] jeremyzilar commented on #79
[code]

[2017-07-31 22:00] thisisdano commented on #79
maybe `uid` instead of `slug` for consistency with our other data

[2017-08-01 15:51] jeremyzilar opened #92 "Repo Organization"
I am proposing that we move the Federalist version of DigitalGov.gov — the entire contents of the current repo, branches, comments, history, etc... — to `/GSA/digitalgov.gov-hugo`.
This is where we'll continue to develop on the Hugo version of the old site.

The existing repo `/GSA/digital.gov` would remain and would be transformed into the new digital.gov splash page.

[2017-08-01 15:56] thisisdano commented on #92
Could we call the new repo `/GSA/digitalgov.gov`? Or does it need to be distinguished from something else?

[2017-08-01 16:12] jeremyzilar commented on #92
Sure — much better name.

[2017-08-01 19:30] ToniBonittoGSA opened #93 "DRAFT: Have You Critiqued Your Critique Process?"
Whenever I hear someone complain about the process of a design critique, I’m always a bit surprised. Blame it on the fact that I’m a design school graduate, where critique is a mandatory part of the educational experience. I consider learning to give and receive feedback as one of the most relevant and useful pieces of my education.

But translating the rules and reasons for critique from a classr

[2017-08-03 17:12] jeremyzilar opened #95 "Headline goes here"
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue aliquet tincidunt. Cras in libero rhoncus, semper metus eu, finibus nunc.

[link goes here](http://purple.com) woo! 👍

The **cat** and the _dog_.

**Bold text**

Donec egestas felis id turpis sollicitudin blandit vitae quis libero. Ut massa arcu, condimentum vitae laoreet auctor, blandit sit amet enim.

Phasellus ornare rhoncus ur

[2017-08-05 20:20] jeremyzilar commented on #79
Checking to see why sometimes an image is firing and uploading just fine, when other times it stalls without warning.

I think it is might have to do something with the fact that Gulp runs tasks in parallel (at the same time) when we want certain actions to be run as a series.
Reading this: https://fettblog.eu/gulp-4-parallel-and-series/

[2017-08-05 20:21] jeremyzilar commented on #79
If I am not mistaken, this is how things are currently firing:

Start watch task to see if there are imgs in `__inbox`
If there are imgs in `__inbox`
1. run `gulp.task("img-variants", function...`
    - Cleans up filenames/paths
    - moves file(s) to be processed in `_tmp`
    - makes img variants
    - moves processed file(s) to `_processed`
2. run `gulp.task("upload", function...`
    - uploads

[2017-08-06 13:47] jeremyzilar commented on #79
For the filenames, can I suggest that we:
- remove the double underscores?
- add two-letter modifiers to the ends of the size that indicate color variants `_w1200bw`. This way, I know that I can always get my image at `my-cat_w1200.jpg` but if I would like the black and white version, I can add `bw` to `my-cat_w1200bw.jpg`

[2017-08-07 16:07] thisisdano commented on #79
If there's no size indicator (i.e. the original–size image), should we use `_bw` as the suffix?

[2017-08-22 18:23] jthalls opened #99 "User Experience (UX) vs. Customer Experience (CX): What’s the Dif?"
“User Experience” and “Customer Experience.” They sound pretty similar, right?

Well, here at the Office of Citizen Services and Innovative Technologies, we look at it like this:

**User Experience** (UX) deals with people interacting with your product and the experience they receive from that interaction. UX is measured with metrics like: success rate, error rate, abandonment rate, time to comple

[2017-08-22 18:24] jthalls commented on #99
![600-x-163-ux-vs-cx-drawing](https://user-images.githubusercontent.com/9658310/29580897-8e603008-8745-11e7-8edb-e31adff307fd.jpg)

[2017-08-22 18:24] jthalls commented on #99
image for post above

[2017-08-23 00:46] jeremyzilar commented on #99
Thank you @jthalls !

[2022-04-12 18:42] aalikaram commented on #99
🛑DEPRECATED🛑 - Repo no longer being maintained #99

[2022-04-12 18:42] #99 closed, assigned to jeremyzilar, AndreaSigz, thisisdano, ToniBonittoGSA

[2022-04-12 18:44] aalikaram commented on #95
🛑DEPRECATED🛑 - Repo no longer being maintained #95

[2022-04-12 18:44] #95 closed, assigned to nobody

[2022-04-12 18:51] aalikaram commented on #93
🛑DEPRECATED🛑 - Repo no longer being maintained #93

[2022-04-12 18:51] #93 closed, assigned to nobody

[2022-04-12 18:51] aalikaram commented on #92
🛑DEPRECATED🛑 - Repo no longer being maintained #92

[2022-04-12 18:51] #92 closed, assigned to nobody

[2022-04-12 18:52] aalikaram commented on #87
🛑DEPRECATED🛑 - Repo no longer being maintained #87

[2022-04-12 18:52] #87 closed, assigned to jeremyzilar

[2022-04-12 18:52] aalikaram commented on #83
🛑DEPRECATED🛑 - Repo no longer being maintained #83

[2022-04-12 18:52] #83 closed, assigned to jeremyzilar

[2022-04-12 18:53] aalikaram commented on #82
🛑DEPRECATED🛑 - Repo no longer being maintained #82

[2022-04-12 18:53] #82 closed, assigned to nobody

[2022-04-12 18:53] aalikaram commented on #81
🛑DEPRECATED🛑 - Repo no longer being maintained #81

[2022-04-12 18:53] #81 closed, assigned to ToniBonittoGSA

[2022-04-12 18:54] aalikaram commented on #79
🛑DEPRECATED🛑 - Repo no longer being maintained #79

[2022-04-12 18:54] #79 closed, assigned to jeremyzilar, thisisdano

[2022-04-12 18:54] aalikaram commented on #71
🛑DEPRECATED🛑 - Repo no longer being maintained #71

[2022-04-12 18:54] #71 closed, assigned to nobody

[2022-04-12 18:55] aalikaram commented on #70
🛑DEPRECATED🛑 - Repo no longer being maintained #70

[2022-04-12 18:55] #70 closed, assigned to nobody

[2022-04-12 18:55] aalikaram commented on #68
🛑DEPRECATED🛑 - Repo no longer being maintained #68

[2022-04-12 18:55] #68 closed, assigned to nobody

[2022-04-12 18:56] aalikaram commented on #67
🛑DEPRECATED🛑 - Repo no longer being maintained #67

[2022-04-12 18:56] #67 closed, assigned to nobody

[2022-04-12 18:56] aalikaram commented on #66
🛑DEPRECATED🛑 - Repo no longer being maintained #66

[2022-04-12 18:56] #66 closed, assigned to jeremyzilar

[2022-04-12 18:57] aalikaram commented on #65
🛑DEPRECATED🛑 - Repo no longer being maintained #65

[2022-04-12 18:57] #65 closed, assigned to nobody

[2022-04-12 18:57] aalikaram commented on #64
🛑DEPRECATED🛑 - Repo no longer being maintained #64

[2022-04-12 18:57] #64 closed, assigned to jeremyzilar, ToniBonittoGSA

[2022-04-12 18:58] aalikaram commented on #63
🛑DEPRECATED🛑 - Repo no longer being maintained #63

[2022-04-12 18:58] #63 closed, assigned to nobody

[2022-04-12 19:20] aalikaram commented on #62
🛑DEPRECATED🛑 - Repo no longer being maintained #62

[2022-04-12 19:20] #62 closed, assigned to nobody

[2022-04-12 19:22] aalikaram commented on #61
🛑DEPRECATED🛑 - Repo no longer being maintained #61

[2022-04-12 19:22] #61 closed, assigned to nobody

[2022-04-12 19:23] aalikaram commented on #60
🛑DEPRECATED🛑 - Repo no longer being maintained #60

[2022-04-12 19:23] #60 closed, assigned to nobody

[2022-04-12 19:23] aalikaram commented on #58
🛑DEPRECATED🛑 - Repo no longer being maintained #58

[2022-04-12 19:23] #58 closed, assigned to nobody

[2022-04-12 19:23] aalikaram commented on #55
🛑DEPRECATED🛑 - Repo no longer being maintained #55

[2022-04-12 19:23] #55 closed, assigned to nobody

[2022-04-12 19:23] aalikaram commented on #54
🛑DEPRECATED🛑 - Repo no longer being maintained #54

[2022-04-12 19:23] #54 closed, assigned to nobody

[2022-04-12 19:24] aalikaram commented on #53
🛑DEPRECATED🛑 - Repo no longer being maintained #53

[2022-04-12 19:24] #53 closed, assigned to nobody

[2022-04-12 19:24] aalikaram commented on #52
🛑DEPRECATED🛑 - Repo no longer being maintained #52

[2022-04-12 19:24] #52 closed, assigned to nobody

[2022-04-12 19:24] aalikaram commented on #51
🛑DEPRECATED🛑 - Repo no longer being maintained #51

[2022-04-12 19:24] #51 closed, assigned to nobody

[2022-04-12 19:25] aalikaram commented on #50
🛑DEPRECATED🛑 - Repo no longer being maintained #50

[2022-04-12 19:25] #50 closed, assigned to nobody

[2022-04-12 19:25] aalikaram commented on #49
🛑DEPRECATED🛑 - Repo no longer being maintained #49

[2022-04-12 19:25] #49 closed, assigned to nobody

[2022-04-12 19:25] aalikaram commented on #48
🛑DEPRECATED🛑 - Repo no longer being maintained #48

[2022-04-12 19:25] #48 closed, assigned to nobody

[2022-04-12 19:26] aalikaram commented on #47
🛑DEPRECATED🛑 - Repo no longer being maintained #47

[2022-04-12 19:26] #47 closed, assigned to thisisdano

[2022-04-12 19:26] aalikaram commented on #46
🛑DEPRECATED🛑 - Repo no longer being maintained #46

[2022-04-12 19:26] #46 closed, assigned to nobody

[2022-04-12 19:26] aalikaram commented on #43
🛑DEPRECATED🛑 - Repo no longer being maintained #43

[2022-04-12 19:26] #43 closed, assigned to thisisdano

[2022-04-12 19:27] aalikaram commented on #42
🛑DEPRECATED🛑 - Repo no longer being maintained #42

[2022-04-12 19:27] #42 closed, assigned to thisisdano

[2022-04-12 19:27] aalikaram commented on #41
🛑DEPRECATED🛑 - Repo no longer being maintained #41

[2022-04-12 19:27] #41 closed, assigned to thisisdano

[2022-04-12 19:27] aalikaram commented on #40
🛑DEPRECATED🛑 - Repo no longer being maintained #40

[2022-04-12 19:27] #40 closed, assigned to thisisdano

[2022-04-12 19:27] aalikaram commented on #39
🛑DEPRECATED🛑 - Repo no longer being maintained #39

[2022-04-12 19:27] #39 closed, assigned to jeremyzilar, ToniBonittoGSA

[2022-04-12 19:29] aalikaram commented on #38
🛑DEPRECATED🛑 - Repo no longer being maintained #38

[2022-04-12 19:29] #38 closed, assigned to nobody

[2022-04-12 19:30] aalikaram commented on #37
🛑DEPRECATED🛑 - Repo no longer being maintained #37

[2022-04-12 19:30] #37 closed, assigned to nobody

[2022-04-12 19:30] aalikaram commented on #36
🛑DEPRECATED🛑 - Repo no longer being maintained #36

[2022-04-12 19:30] #36 closed, assigned to jeremyzilar

[2022-04-12 19:31] aalikaram commented on #35
🛑DEPRECATED🛑 - Repo no longer being maintained #35

[2022-04-12 19:31] #35 closed, assigned to thisisdano

[2022-04-12 19:31] aalikaram commented on #34
🛑DEPRECATED🛑 - Repo no longer being maintained #34

[2022-04-12 19:31] #34 closed, assigned to thisisdano

[2022-04-12 19:32] aalikaram commented on #33
🛑DEPRECATED🛑 - Repo no longer being maintained #33

[2022-04-12 19:32] #33 closed, assigned to thisisdano

[2022-04-12 19:33] aalikaram commented on #32
🛑DEPRECATED🛑 - Repo no longer being maintained #32

[2022-04-12 19:33] #32 closed, assigned to thisisdano

[2022-04-12 19:33] aalikaram commented on #31
🛑DEPRECATED🛑 - Repo no longer being maintained #31

[2022-04-12 19:33] #31 closed, assigned to thisisdano

[2022-04-12 19:36] aalikaram commented on #30
🛑DEPRECATED🛑 - Repo no longer being maintained #30

[2022-04-12 19:36] #30 closed, assigned to nobody

[2022-04-12 19:37] aalikaram commented on #29
🛑DEPRECATED🛑 - Repo no longer being maintained #29

[2022-04-12 19:37] #29 closed, assigned to nobody

[2022-04-12 19:37] aalikaram commented on #28
🛑DEPRECATED🛑 - Repo no longer being maintained #28

[2022-04-12 19:37] #28 closed, assigned to nobody

[2022-04-12 19:38] aalikaram commented on #24
🛑DEPRECATED🛑 - Repo no longer being maintained #24

[2022-04-12 19:38] #24 closed, assigned to nobody

[2022-04-12 19:38] aalikaram commented on #21
🛑DEPRECATED🛑 - Repo no longer being maintained #21

[2022-04-12 19:38] #21 closed, assigned to nobody

[2022-04-12 19:39] aalikaram commented on #20
🛑DEPRECATED🛑 - Repo no longer being maintained #20

[2022-04-12 19:39] #20 closed, assigned to jeremyzilar

[2022-04-12 19:40] aalikaram commented on #19
🛑DEPRECATED🛑 - Repo no longer being maintained #19

[2022-04-12 19:40] #19 closed, assigned to jeremyzilar, thisisdano

[2022-04-12 19:40] aalikaram commented on #18
🛑DEPRECATED🛑 - Repo no longer being maintained #18

[2022-04-12 19:40] #18 closed, assigned to thisisdano

[2022-04-12 19:40] aalikaram commented on #17
🛑DEPRECATED🛑 - Repo no longer being maintained #17

[2022-04-12 19:40] #17 closed, assigned to jeremyzilar, thisisdano

[2022-04-12 19:41] aalikaram commented on #16
🛑DEPRECATED🛑 - Repo no longer being maintained #16

[2022-04-12 19:41] #16 closed, assigned to nobody